:root {
    --primary-font: 'Roboto', sans-serif;
    --main-text-color: #212121;
    --brand-color: #2196F3;
}

h1,
h2,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

body {
    font-family: var(--primary-font);
    color: var(--main-text-color);
}

.list {
    list-style: none;
}

textarea {
    resize: none;
}

.form {
    width: 600px;
    /* outline: 1px solid tomato; */
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    background-color: #ccc;
}

/* .form:focus-within {
    background-color: tomato;
} */

.form-title {
    margin-bottom: 30px;
}

.form-field {
    position: relative;
    margin-bottom: 30px;
}

.form-input {
    width: 100%;
    padding: 10px 40px;
    border-radius: 4px;
    border-width: 0;
}

.form-input::placeholder {
    color: #ccc;
}

.form-label {
    position: absolute;
    top: 50%;
    left: 40px;
    transform: translateY(-50%);
    margin-bottom: 5px;

    transition: transform 250ms linear;
}

.form-input:focus + .form-label,
.form-input:not(:placeholder-shown) + .form-label {
    transform: translateX(-30px) translateY(-200%);
}

.icon {
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    background-color: orange;
}

.group {
    margin-bottom: 30px;
}

.group-title {
    margin-bottom: 10px;
}

.topic-options {
    display: flex;
    align-items: center;
}

.order-form-input:focus-visible {
    background-color: #2196F3;
}

.topic-item:not(:last-child) {
    margin-right: 30px;
}

.topic-field {
    display: flex;
    align-items: center;
}

.topic-checkbox {
    /* --webkit-appearance: none;
    --moz-appearance: none;
    appearance: none; */

    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
} 

.topic-icon {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 10px;
    background-color: tomato;
    border: 2px solid black;

    transition: background-color 250ms linear;
}


.topic-checkbox:checked + .topic-icon {
    background-color: #ccc;
    background-image: url(../images/icons/close.svg);
    background-size: contain;
    background-origin: border-box;
}

.topic-checkbox:checked ~ .topic-label {
    font-weight: 700;
}