:root {
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    --primary-font: 'Roboto', sans-serif;
}

body {
    font-family: var(--primary-font);
}

.page-header {
    padding: 20px;
}

/* ============== BUTTON ==============*/

.funny-button {
    position: relative;
    display: inline-flex;
    padding: 12px 30px;
    font-size: 27px;
    color: white;
    background-color: rgb(133, 116, 230);
    border-radius: 30px;
    border-width: 0;
    cursor: pointer;

    overflow: hidden;

    transition: background-color 250ms linear;
}

.funny-button:hover,
.funny-button:focus {
    background-color: rgb(250, 100, 100);
}

.funny-button::before,
.funny-button::after {
    content: '';
    display: inline-block;
    margin-right: 10px;
    width: 32px;
    height: 32px;

    background-repeat: no-repeat;
    background-position: center;
}

.funny-button::before {
    background-image: url(../images/funny-button/butterfly.png);

    transition: transform 250ms var(--timing-function);
}

.funny-button::after {
    position: absolute;
    top: 50%;
    left: 30px;
    margin-right: 20px;

    background-image: url(../images/funny-button/cat.png);

    transform: translateY(calc(-50% + 55px));

    transition: transform 250ms var(--timing-function);
}

.funny-button:hover::before,
.funny-button:focus::before {
    transform: translateY(-55px);
}

.funny-button:hover::after,
.funny-button:focus::after {
    transform: translateY(-50%);
}

/* ==============/ BUTTON ==============*/